apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-service
  namespace: urlshortener
  labels: 
    app: node-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-service  
  template:
    metadata:
      labels:
        app: node-service  
    spec:
      containers:
        - name: node-service
          image: habib0905/urlshortener-node-service:v1
          imagePullPolicy: Always
          ports:  
            - containerPort: 3000 
          volumeMounts:
            - name: node-data
              mountPath: /app/data

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi" 
            limits:
              cpu: "500m"
              memory: "512Mi" 

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /health
              port: 3000 
            initialDelaySeconds: 5
            periodSeconds: 10  

      volumes:
        - name: node-data
          persistentVolumeClaim:
            claimName: node-data


