apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: node-data
  namespace: urlshortener
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard  