
apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-service
  namespace: urlshortener
  labels: 
    app: python-service
spec:
  replicas: 2
  selector:  
    matchLabels:
      app: python-service 
  template:
    metadata:
      labels:
        app: python-service 
    spec:
      containers:
        - name: python-service
          image: habib0905/urlshortener-python-service:v1
          imagePullPolicy: IfNotPresent
          ports:  
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: urlshortener-config 
          volumeMounts:
            - name: python-data
              mountPath: /app/data
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi" 
            limits:
              cpu: "600m"
              memory: "512Mi" 

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /health
              port: 5000 
            initialDelaySeconds: 5
            periodSeconds: 10  


      volumes:
        - name: python-data
          persistentVolumeClaim:
            claimName: python-data

