apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-service
spec:
  template:
    spec:
      containers:
      - name: node-service
        image: habib0905/urlshortener-node-service:PUT_TAG_HERE