apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-service
spec:
  template:
    spec:
      containers:
      - name: python-service
        image: habib0905/urlshortener-python-service:10686cae180f831cb3a73c7a23df0af029bb5897