name: CI/CD - URL Shortener (self-hosted)

on:
  push:
    branches: ["main", "feature/*"]


env:
  IMAGE_USER: ${{ vars.DOCKERHUB_USERNAME }}
  IMAGE_TAG: ${{ github.sha }}


permissions:
  contents: write

jobs:

  sonar-scan:
    name: SonarQube Analysis
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Verify Sonar reachable
        run: |
          echo "Checking Sonar at $SONAR_HOST_URL"
          curl -sS "${{ vars.SONAR_HOST_URL }}/api/system/status" || true          

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}        
        with:
          projectBaseDir: .

      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }} 

      - name: "SonarQube Quality Gate Status value"
        run: echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"


  build-and-push:
    name: Build and push Docker image 
    runs-on: self-hosted
    needs: sonar-scan
    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build and push go-service
        run : |
          docker build -t $IMAGE_USER/urlshortener-go-service:$IMAGE_TAG ./go-service
          docker push $IMAGE_USER/urlshortener-go-service:$IMAGE_TAG
          docker tag $IMAGE_USER/urlshortener-go-service:$IMAGE_TAG $IMAGE_USER/urlshortener-go-service:latest
          docker push $IMAGE_USER/urlshortener-go-service:latest         

      - name: Build & push node-service
        run: |
          docker build -t $IMAGE_USER/urlshortener-node-service:$IMAGE_TAG ./node-service
          docker push $IMAGE_USER/urlshortener-node-service:$IMAGE_TAG
          docker tag $IMAGE_USER/urlshortener-node-service:$IMAGE_TAG $IMAGE_USER/urlshortener-node-service:latest
          docker push $IMAGE_USER/urlshortener-node-service:latest

      - name: Build & push python-service
        run: |
          docker build -t $IMAGE_USER/urlshortener-python-service:$IMAGE_TAG ./python-service
          docker push $IMAGE_USER/urlshortener-python-service:$IMAGE_TAG
          docker tag $IMAGE_USER/urlshortener-python-service:$IMAGE_TAG $IMAGE_USER/urlshortener-python-service:latest
          docker push $IMAGE_USER/urlshortener-python-service:latest     

      - name: Update Kustomize image tag
        run: |
          sed -i "s|newTag:.*|newTag: ${{ github.sha }}|g" k8s/go-service/overlays/prod/kustomization.yaml
          sed -i "s|newTag:.*|newTag: ${{ github.sha }}|g" k8s/node-service/overlays/prod/kustomization.yaml
          sed -i "s|newTag:.*|newTag: ${{ github.sha }}|g" k8s/python-service/overlays/prod/kustomization.yaml


    # -------------------------------
    # Commit & push changes
    # -------------------------------
      - name: Commit updated manifests
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Update images to ${{ github.sha }}"
          git push
        
# this section is commented out to disable deployment to Minikube for now through GitHub Actions. Now using ArgoCD for deployments.
# you can uncomment and use this section if you want to deploy through GitHub Actions to a self-hosted Minikube cluster.

  # deploy:
  #   name: Deploy to Minikube cluster
  #   runs-on: self-hosted
  #   needs: build-and-push
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Ensure Minikube is running (start if not)
  #       run: |
  #         if ! minikube status >/dev/null 2>&1; then
  #           minikube start --driver=docker
  #         fi
  #         minikube status

  #     - name: Ensure kubectl can talk to the cluster
  #       run: |
  #         minikube kubectl -- version --client
  #         minikube kubectl -- get nodes

  #     - name: Update k8s images and apply manifests
  #       run: |
  #         minikube kubectl -- -n urlshortener set image deployment/go-service go-service=$IMAGE_USER/urlshortener-go-service:$IMAGE_TAG
  #         minikube kubectl -- -n urlshortener set image deployment/node-service node-service=$IMAGE_USER/urlshortener-node-service:$IMAGE_TAG
  #         minikube kubectl -- -n urlshortener set image deployment/python-service python-service=$IMAGE_USER/urlshortener-python-service:$IMAGE_TAG
          

  #     - name: Verify deployments
  #       run: |
  #         minikube kubectl -- -n urlshortener rollout status deployment/go-service --timeout=120s || true
  #         minikube kubectl -- -n urlshortener rollout status deployment/node-service --timeout=120s || true
  #         minikube kubectl -- -n urlshortener rollout status deployment/python-service --timeout=120s || true


  #     - name: Show pods & services
  #       run: |
  #         minikube kubectl -- -n urlshortener get pods -o wide
  #         minikube kubectl -- -n urlshortener get svc -o wide